html
	head
		title Login
	body
		h3 Make your login
		if(message)
			h4 #{message}
		form(action = "/login" method = "post")
			label Username:
				br
				input(name = "username" type = "text")
			br
			label Password:
				br
				input(name = "password" type = "password")
			br
			br
			button(type = "Submit") Login!
		button(onclick = "signup()") Sign Up!
	script.
		function signup() {
			window.location.href = '/signup';
		}