html
	head
		title Signup
	body
		if(message)
			h4 #{message}
		form(action = "/signup" method = "post")
			label Username:
				br
				input(name = "username" type = "text")
			br
			label Password:
				br
				input(name = "password" type = "password")
			br
			br
			button(type = "Submit") Sign me up!